// Color swatches
@purple:          #4b2e83;
@gray:            #c9c9c9;
@darkgray:        #5A5A5A;
@mediumdarkgray:  #9E9E9E;
@lightgray:       #eeeeee;
@ultralightgray:  #f5f5f5;
@link: 			      #0088DD;
@brightgold:      #ffd800;
@ultralightgold:  #e8e3d3;
@lightgold:       #b7a57a;
@darkgold:        #85754d;
@tan:             #eeeadf;
@white:           #ffffff;
@orange:          #b45829;
@link:            #0074bb;
@text-color:      #3D3D3D;

// Font families
@EncodeSansCompressed:  "Encode Sans Compressed", sans-serif;

// tables
@table-border-color:  #ddd;
